<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HPC Reports</title>
    </head>
    <body>
        <main>
            <header>
                <p>HPC Reports</p>
                <h1>Relatórios dos clusters</h1>
                <p>Consulte a disponibilidade dos relatórios de utilização.</p>
            </header>

            <section>
                <table>
                    <!-- <caption>Clusters</caption> -->
                    <thead>
                        <tr>
                            <th>Cluster</th>
                            <th>Status</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="cliente : ${clientes}">
                            <!-- <tr>
                                <td th:text="${cliente.nome}">Nome do cliente</td>
                            </tr>
                            -->
                            <tr th:each="cluster : ${cliente.clusters}">
                                <td th:text="${cluster.nome}">Nome do cluster</td>
                                <td th:text="${cluster.relatorio.status}">Não verificado</td>
                                <td>
                                    <form th:action="@{/clusters/{id}/relatorio/verificar(id=${cluster.id})}" method="post">
                                        <button type="submit">
                                            Verificar
                                        </button>
                                    </form>

                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </section>
        </main>
    </body>
</html>